

<div class="w-full h-full bg-gradient-to-tr from-[#76d0cf] via-[#c9f5f1] to-[#fae8e8]">

  <div class="sm:container md:container lg:container flex items-center justify-center h-full">
  
    <div class="grid grid-cols-[1fr_2fr] h-[85%] w-full gap-x-[7%] max-h-[650px]">
  
      <div class="grid content-center">

        <div class="flex flex-col items-end w-full mr-auto">

          <div class="flex flex-col gap-y-5 w-max">

            <div class="bg-white p-[0.5rem_1rem] rounded-2xl w-max">
              <span class="text-xl">Hey, soy tu asistente</span>
            </div>
            
            <div class="flex gap-x-[1rem] ml-[2rem]">

              <img class="rounded-[50%] h-[3rem] w-[3rem] border-2 border-white border-solid scale-x-[-1]" src="../assets/ex-machina.jpg" alt="ex-machina-ia">

              <div class="flex justify-center items-center bg-white p-[0.5rem_1rem] rounded-2xl w-max">
                <span class="text-xl">Pregúntame</span>
              </div>

            </div>

            <div class="bg-white p-[0.5rem_1rem] rounded-2xl w-max ml-[1.5rem]">
              <span class="text-xl">lo que quieras...</span>
            </div>

          </div>


        </div>

  
      </div>

      <div class="grid grid-rows-[7rem_auto_5rem] bg-[#ffffff6a] rounded-[10px] max-h-[650px]">

        <div class="flex flex-col justify-center items-center gap-2 border-b-[1px] border-slate-200 border-solid">

          <img class="rounded-[50%] h-[4rem] w-[4rem] border-4 border-white border-solid scale-x-[-1]" src="../assets/ex-machina.jpg" alt="ex-machina-ia">

          <span class="text-xs">Asistante</span>

        </div>

        <div class=""></div>
        
        <div class="border-t-[1px] border-slate-200 border-solid"></div>

      </div>
  
    </div>
  
  </div>

</div>
